<!DOCTYPE html>
<html data-ng-app="app">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name=viewport content="width=device-width, initial-scale=1" >
    <title>WorkManager</title>
    <link rel="stylesheet" href="{{ asset('bundles/wactechweb/css/bootswatch.min.css') }}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ asset('bundles/wactechweb/css/main.css') }}" type="text/css" media="screen" />
</head>
<body data-ng-controller="MainController">
    <nav>
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <a class="navbar-brand" href="/">WorkManager</a>
          <ul class="nav navbar-nav navbar-right">
            {% if app.user %}
            <li><a href="{{ path('project_new') }}">New Project</a> </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                {{ app.user.username }}
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/profile">Profil</a></li>
                <li class="divider"></li>
                <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
              </ul>
            </li>
            {% else %}
              <li><a href="/register">Sign-up</a></li>
              <li><a href="/login">Sign-in</a></li>
            {% endif %}
          </ul>
        </div>
      </nav>
      <div class="container content">
            {% for type, messages in app.session.flashBag.all %}
                {% for message in messages %}
                    <div class="{{ type }}">
                        {{ message|trans({}, 'FOSUserBundle') }}
                    </div>
                {% endfor %}
            {% endfor %}
           <div class="under-fos-content">
                {% block fos_user_content %}
                {% endblock fos_user_content %}
                {% block body %}
                {% endblock %}
           </div>
        </div>
    <script type="text/javascript" src="{{ asset('bundles/wactechweb/js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/wactechweb/js/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/wactechweb/js/angular.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/wactechweb/js/app.js') }}"></script>
    </body>
</html>
