{% extends 'WacTechWebBundle::layout.html.twig' %}

{% block body %}
<div class="row">
  <div class="col-md-12">
    <div class="panel with-nav-tabs panel-default">
      <div class="panel-heading">
        <h4>Project Members</h4>
      </div>
      <div class="panel-body">
        <div class="tab-content">
          <div class="tab-pane fade in active tasksTable">
            <ul class="list-group">
              {{ form_start(remove_member) }}
              {% for member in members %}
              <li class="list-group-item">
                <span class="account-name">#{{ member.id }} &nbsp;{{ member.username }}</span>
                <span class="home-actions">
                  <input type="radio" id="form_userId" name="form[userId]" class="form-control" value="{{ member.id}}">
                </span>
              </li>
              {% endfor %}
              <br>
              {{ form_end(remove_member) }}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="panel with-nav-tabs panel-default">
      <div class="panel-heading">
        <h4>Add Members</h4>
      </div>
      <div class="panel-body">
        <div class="tab-content">
          <div class="tab-pane fade in active tasksTable">
            {{ form_start(add_member) }}
            <ul class="list-group">
            {% for user in users %}
              <li class="list-group-item">
                <span class="account-name">#{{ user.id }} &nbsp;{{ user.username }}</span>
                <span class="home-actions">
                  <input type="radio" id="form_userId" name="form[userId]" class="form-control" value="{{ user.id}}">
                </span>
              </li>
              {% endfor %}
              <br>
            {{ form_end(add_member) }}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
