{% extends '::base.html.twig' %}

{% block body -%}
    <h1>#{{ entity.id }} &nbsp; {{ entity.name }}</h1>

    <div class="row">
  		<div class="col-md-12">
  			<div class="panel panel-default">
  				<div class="panel-heading">
  					<h3 class="panel-title">List #1</h3>
  				</div>
  				<table class="table" id="dev-table" >
  					<thead>
  						<tr>
  							<th>#</th>
  							<th>Task</th>
  							<th>Author</th>
  							<th>Status</th>
  							<th>Actions</th>
  						</tr>
  					</thead>
  					<tbody>
  						<tr>
  							<td></td>
  							<td></td>
  							<td></td>
  							<td><input type="checkbox"></td>
  							<td><a class="btn btn-default btn-sm" href="#">Remove</a></td>
  						</tr>
              <tr>
                <td><input style="width:200%;" type="text" name="name" value="" placeholder="New Task"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
  					</tbody>
  				</table>
  			</div>
  		</div>
    </div>

<ul class="record_actions">
    <li>
        <a href="{{ path('project') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('project_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <a href="{{ path('project_members', { 'projectId': entity.id }) }}">
            Members
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
