{% extends '::base.html.twig' %}

{% block body -%}
<div class="records_actions">
<a class="btn btn-default btn-sm" href="{{ path('listing_new') }}">New List</a>
<a class="btn btn-default btn-sm" href="{{ path('card_new') }}">New Card</a>
</div>

    <h1>#{{ entity.id }} &nbsp; {{ entity.name }}</h1>

    <div class="row" data-ng-init="showLists({{ entity.id }})">
  		<div class="col-md-4" data-ng-repeat="list in lists">
  			<div class="panel panel-default">
  				<div class="panel-heading">
  					<h3 class="panel-title"><% list.name %></h3>
  				</div>
  				<table class="table">
  					<thead>
  						<tr>
  							<th>#</th>
  							<th>Task</th>
  							<th>Author</th>
  							<th>Status</th>
  							<th>Actions</th>
  						</tr>
  					</thead>
  					<tbody>
  						<tr data-ng-repeat="card in list.card">
  							<td><% card.name %></td>
  							<td><% card.description %></td>
  							<td></td>
  							<td><input type="checkbox"></td>
  							<td><a class="btn btn-default btn-sm" href="#">Remove</a></td>
  						</tr>
  					</tbody>
  				</table>
  			</div>
  		</div>
    </div>

<ul class="record_actions">
    <li>
        <a class="btn btn-default btn-sm" href="{{ path('project_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <a class="btn btn-default btn-sm" href="{{ path('project_members', { 'projectId': entity.id }) }}">
            Members
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
